@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 33% 97%;
    --foreground: 270 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 270 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 10% 20%;
    --primary: 270 44% 81%;
    --primary-foreground: 270 20% 15%;
    --secondary: 270 25% 90%;
    --secondary-foreground: 270 10% 20%;
    --muted: 270 25% 90%;
    --muted-foreground: 270 5% 45%;
    --accent: 351 53% 77%;
    --accent-foreground: 350 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 20% 88%;
    --input: 270 20% 92%;
    --ring: 351 53% 77%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 270 10% 10%;
    --foreground: 270 10% 95%;
    --card: 270 10% 15%;
    --card-foreground: 270 10% 95%;
    --popover: 270 10% 15%;
    --popover-foreground: 270 10% 95%;
    --primary: 270 44% 81%;
    --primary-foreground: 270 20% 15%;
    --secondary: 270 15% 25%;
    --secondary-foreground: 270 10% 95%;
    --muted: 270 15% 25%;
    --muted-foreground: 270 5% 65%;
    --accent: 351 53% 77%;
    --accent-foreground: 350 20% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 15% 25%;
    --input: 270 15% 25%;
    --ring: 351 53% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
